In [1]:
import pandas as pd
import numpy as np

In [2]:
Train =  pd.read_csv("Data/TrainFeatureEngined.csv")
Test =  pd.read_csv("Data/TestFeatureEngined.csv")

In [3]:
Train.head()

,Survived,Pclass,SibSp,Parch,Embarked,Age_group,Fare_group,Cabin_New_2,Sex_New
0,0,3,1,0,S,"[20, 40)","[0, 7.9)",C,1
1,1,1,1,0,C,"[20, 40)",[38.9+),C,0
2,1,3,0,0,S,"[20, 40)","[7.9, 14.4)",C,0
3,1,1,1,0,S,"[20, 40)",[38.9+),C,0
4,0,3,0,0,S,"[20, 40)","[7.9, 14.4)",C,1

In [4]:
Train.shape

(891, 9)

In [5]:
Test.shape

(418, 8)

In [6]:
Train['SibSp'].unique()

array([1, 0, 3, 4, 2, 5, 8], dtype=int64)

In [7]:
Test.shape

(418, 8)

In [8]:
class GetDummies():
    
    def __init__(self, train, test):
        self.train = train
        self.test = test
    
    # Dummy encoding    
    def dummy_encoding(self, column_name):
        self.train['train'] = 1
        self.test['train'] = 0
        
        combined = pd.concat([self.train, self.test])
        column_encoded = pd.get_dummies(combined[column_name])
        column_encoded.columns = ['{}_{}'.format(column_name, x) for x in column_encoded.columns]
        
        combined = pd.concat([combined, column_encoded], axis=1)
        
        train = combined[combined['train'] == 1]
        test = combined[combined['train'] == 0]
        
        train.drop(['train'], axis=1, inplace=True)
        test.drop(['train'], axis=1, inplace=True)
        
        return train, test

In [9]:
Train['train'] = 1
Test['train'] = 0

In [10]:
combined = pd.concat([Train, Test])

In [11]:
column_encoded = pd.get_dummies(combined['Pclass'])

In [12]:
combined = pd.concat([combined, column_encoded], axis=1)

In [13]:
Train = combined[combined['train'] == 1]
Test = combined[combined['train'] == 0]

In [14]:
Train.drop(['train'], axis=1, inplace=True)
Test.drop(['train'], axis=1, inplace=True)

c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [15]:
Train.head()

,Survived,Pclass,SibSp,Parch,Embarked,Age_group,Fare_group,Cabin_New_2,Sex_New,1,2,3
0,0.0,3,1,0,S,"[20, 40)","[0, 7.9)",C,1,0,0,1
1,1.0,1,1,0,C,"[20, 40)",[38.9+),C,0,1,0,0
2,1.0,3,0,0,S,"[20, 40)","[7.9, 14.4)",C,0,0,0,1
3,1.0,1,1,0,S,"[20, 40)",[38.9+),C,0,1,0,0
4,0.0,3,0,0,S,"[20, 40)","[7.9, 14.4)",C,1,0,0,1

In [16]:
Test.head()

,Survived,Pclass,SibSp,Parch,Embarked,Age_group,Fare_group,Cabin_New_2,Sex_New,1,2,3
0,NaN,3,0,0,Q,"[20, 40)","[0, 7.9)",C,1,0,0,1
1,NaN,3,1,0,S,"[40, 60)","[0, 7.9)",C,0,0,0,1
2,NaN,2,0,0,Q,[60+),"[7.9, 14.4)",C,1,0,1,0
3,NaN,3,0,0,S,"[20, 40)","[7.9, 14.4)",C,1,0,0,1
4,NaN,3,1,1,S,"[20, 40)","[7.9, 14.4)",C,0,0,0,1

In [17]:
Train['train'] = 1
Test['train'] = 0

<ipython-input-17-a64413cdb6f2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Train['train'] = 1
<ipython-input-17-a64413cdb6f2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Test['train'] = 0

In [18]:
combined = pd.concat([Train, Test])

In [19]:
column_encoded = pd.get_dummies(combined['SibSp'])

In [20]:
combined = pd.concat([combined, column_encoded], axis=1)

In [21]:
Train = combined[combined['train'] == 1]
Test = combined[combined['train'] == 0]

In [22]:
Train.drop(['train'], axis=1, inplace=True)
Test.drop(['train'], axis=1, inplace=True)

c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [23]:
Train['train'] = 1
Test['train'] = 0

<ipython-input-23-a64413cdb6f2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Train['train'] = 1
<ipython-input-23-a64413cdb6f2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Test['train'] = 0

In [24]:
combined = pd.concat([Train, Test])

In [25]:
column_encoded = pd.get_dummies(combined['Parch'])

In [26]:
combined = pd.concat([combined, column_encoded], axis=1)

In [27]:
Train = combined[combined['train'] == 1]
Test = combined[combined['train'] == 0]

In [28]:
Train.drop(['train'], axis=1, inplace=True)
Test.drop(['train'], axis=1, inplace=True)

c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [29]:
Train['train'] = 1
Test['train'] = 0

<ipython-input-29-a64413cdb6f2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Train['train'] = 1
<ipython-input-29-a64413cdb6f2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Test['train'] = 0

In [30]:
combined = pd.concat([Train, Test])

In [31]:
column_encoded = pd.get_dummies(combined['Embarked'])

In [32]:
combined = pd.concat([combined, column_encoded], axis=1)

In [33]:
Train = combined[combined['train'] == 1]
Test = combined[combined['train'] == 0]

In [34]:
Train.drop(['train'], axis=1, inplace=True)
Test.drop(['train'], axis=1, inplace=True)

c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [35]:
Train['train'] = 1
Test['train'] = 0

<ipython-input-35-a64413cdb6f2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Train['train'] = 1
<ipython-input-35-a64413cdb6f2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Test['train'] = 0

In [36]:
combined = pd.concat([Train, Test])
column_encoded = pd.get_dummies(combined['Age_group'])
combined = pd.concat([combined, column_encoded], axis=1)
Train = combined[combined['train'] == 1]
Test = combined[combined['train'] == 0]
Train.drop(['train'], axis=1, inplace=True)
Test.drop(['train'], axis=1, inplace=True)

c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [37]:
Train['train'] = 1
Test['train'] = 0
combined = pd.concat([Train, Test])
column_encoded = pd.get_dummies(combined['Cabin_New_2'])
combined = pd.concat([combined, column_encoded], axis=1)
Train = combined[combined['train'] == 1]
Test = combined[combined['train'] == 0]
Train.drop(['train'], axis=1, inplace=True)
Test.drop(['train'], axis=1, inplace=True)

<ipython-input-37-da922ddc562f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Train['train'] = 1
<ipython-input-37-da922ddc562f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Test['train'] = 0
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [38]:
Train['train'] = 1
Test['train'] = 0
combined = pd.concat([Train, Test])
column_encoded = pd.get_dummies(combined['Sex_New'])
combined = pd.concat([combined, column_encoded], axis=1)
Train = combined[combined['train'] == 1]
Test = combined[combined['train'] == 0]
Train.drop(['train'], axis=1, inplace=True)
Test.drop(['train'], axis=1, inplace=True)

<ipython-input-38-46484fde5849>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Train['train'] = 1
<ipython-input-38-46484fde5849>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Test['train'] = 0
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [39]:
Train['train'] = 1
Test['train'] = 0
combined = pd.concat([Train, Test])
column_encoded = pd.get_dummies(combined['Fare_group'])
combined = pd.concat([combined, column_encoded], axis=1)
Train = combined[combined['train'] == 1]
Test = combined[combined['train'] == 0]
Train.drop(['train'], axis=1, inplace=True)
Test.drop(['train'], axis=1, inplace=True)

<ipython-input-39-3659220b6106>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Train['train'] = 1
<ipython-input-39-3659220b6106>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Test['train'] = 0
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [40]:
Train.drop(['Fare_group', 'Pclass', 'SibSp', 'Parch', 'Embarked', 'Age_group', 'Cabin_New_2', 'Sex_New'], axis=1, inplace=True)

In [41]:
Test.drop(['Fare_group', 'Survived', 'Pclass', 'SibSp', 'Parch', 'Embarked', 'Age_group', 'Cabin_New_2', 'Sex_New'], axis=1, inplace=True)

In [42]:
Train.columns

Index([   'Survived',             1,             2,             3,
                   0,             1,             2,             3,
                   4,             5,             8,             0,
                   1,             2,             3,             4,
                   5,             6,             9,           'C',
                 'Q',           'S',     '[0, 20)',    '[20, 40)',
          '[40, 60)',       '[60+)',           'A',           'B',
                 'C',           'D',           'E',           'F',
                 'G',           'T',             0,             1,
          '[0, 7.9)',  '[31, 38.9)',     '[38.9+)', '[7.9, 14.4)'],
      dtype='object')

In [43]:
Test.columns

Index([            1,             2,             3,             0,
                   1,             2,             3,             4,
                   5,             8,             0,             1,
                   2,             3,             4,             5,
                   6,             9,           'C',           'Q',
                 'S',     '[0, 20)',    '[20, 40)',    '[40, 60)',
             '[60+)',           'A',           'B',           'C',
                 'D',           'E',           'F',           'G',
                 'T',             0,             1,    '[0, 7.9)',
        '[31, 38.9)',     '[38.9+)', '[7.9, 14.4)'],
      dtype='object')

In [44]:
Train = Train.rename(columns={'[60+)': 'A1', '[0, 20)': 'B1', '[20, 40)': 'C1', '[40, 60)': 'D1', '[31, 38.9)': 'E1', '[38.9+)': 'F1', '[7.9, 14.4)': 'G1', '[0, 7.9)': 'H1'})

In [45]:
Test = Test.rename(columns={'[60+)': 'A1', '[0, 20)': 'B1', '[20, 40)': 'C1', '[40, 60)': 'D1', '[31, 38.9)': 'E1', '[38.9+)': 'F1', '[7.9, 14.4)': 'G1', '[0, 7.9)': 'H1'})

In [46]:
Train.to_csv("Data/TrainEncoded.csv", index=False)
Test.to_csv("Data/TestEncoded.csv", index=False)