In [1]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import RidgeClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import ExtraTreeClassifier
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

In [84]:
import pandas as pd

In [85]:
Train = pd.read_csv('Data/TrainEncoded.csv')

In [86]:
Test = pd.read_csv('Data/TestEncoded.csv')

In [87]:
Train

,Survived,1,2,3,0,1.1,2.1,3.1,4,5,...,E,F,G,T,0.2,1.3,H1,E1,F1,G1
0,0.0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
1,1.0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,1.0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,1.0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0.0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0.0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
887,1.0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
888,0.0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
889,1.0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
890,0.0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [88]:
Test

,1,2,3,0,1.1,2.1,3.1,4,5,8,...,E,F,G,T,0.2,1.3,H1,E1,F1,G1
0,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
1,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
414,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
415,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
416,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
417,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0

In [89]:
def get_datasets(train, test, target_var):
    y_train = Train[[target_var]]
    X_train = Train.drop(target_var, axis=1)
    X_test = Test
    print(len(X_train), len(X_train.columns), X_train.columns)
    return X_train, y_train, X_test

In [90]:
X_train, y_train, X_test = get_datasets(Train, Test, 'Survived')

891 39 Index(['1', '2', '3', '0', '1.1', '2.1', '3.1', '4', '5', '8', '0.1', '1.2',
       '2.2', '3.2', '4.1', '5.1', '6', '9', 'C', 'Q', 'S', 'B1', 'C1', 'D1',
       'A1', 'A', 'B', 'C.1', 'D', 'E', 'F', 'G', 'T', '0.2', '1.3', 'H1',
       'E1', 'F1', 'G1'],
      dtype='object')

In [31]:
def get_models():
    models = dict() #list() # append
    models.update({'KNeighborsClassifier': KNeighborsClassifier()})
    models.update({'LogisticRegression': LogisticRegression()})
    models.update({'RidgeClassifier': RidgeClassifier()})
    models.update({'SGDClassifier': SGDClassifier()})
    models.update({'PassiveAggressiveClassifier': PassiveAggressiveClassifier()})
    models.update({'DecisionTreeClassifier': DecisionTreeClassifier()})
    models.update({'ExtraTreeClassifier': ExtraTreeClassifier()})
    models.update({'LinearSVC': LinearSVC()})
    models.update({'SVC': SVC()})
    models.update({'GaussianNB': GaussianNB()})
    models.update({'AdaBoostClassifier': AdaBoostClassifier()})
    models.update({'BaggingClassifier': BaggingClassifier()})
    models.update({'RandomForestClassifier': RandomForestClassifier()})
    models.update({'ExtraTreesClassifier': ExtraTreesClassifier()})
    models.update({'GaussianProcessClassifier': GaussianProcessClassifier()})
    models.update({'GradientBoostingClassifier': GradientBoostingClassifier()})
    models.update({'LinearDiscriminantAnalysis': LinearDiscriminantAnalysis()})
    models.update({'QuadraticDiscriminantAnalysis': QuadraticDiscriminantAnalysis()})
    return models

In [32]:
get_models()

{'KNeighborsClassifier': KNeighborsClassifier(),
 'LogisticRegression': LogisticRegression(),
 'RidgeClassifier': RidgeClassifier(),
 'SGDClassifier': SGDClassifier(),
 'PassiveAggressiveClassifier': PassiveAggressiveClassifier(),
 'DecisionTreeClassifier': DecisionTreeClassifier(),
 'ExtraTreeClassifier': ExtraTreeClassifier(),
 'LinearSVC': LinearSVC(),
 'SVC': SVC(),
 'GaussianNB': GaussianNB(),
 'AdaBoostClassifier': AdaBoostClassifier(),
 'BaggingClassifier': BaggingClassifier(),
 'RandomForestClassifier': RandomForestClassifier(),
 'ExtraTreesClassifier': ExtraTreesClassifier(),
 'GaussianProcessClassifier': GaussianProcessClassifier(),
 'GradientBoostingClassifier': GradientBoostingClassifier(),
 'LinearDiscriminantAnalysis': LinearDiscriminantAnalysis(),
 'QuadraticDiscriminantAnalysis': QuadraticDiscriminantAnalysis()}

In [33]:
def results_to_csv(file_name, y_pred):
    model = pd.DataFrame({
        'PassengerId': list(range(1, len(y_pred)+1)),
        'Survived': y_pred
    })
    model.to_csv("results/{}.csv".format(file_name), index=False)
    return model

In [34]:
def modeling(train, test, target_var, num_iter):
    X_train, y_train, X_test = get_datasets(train, test, target_var)
    models = get_models()
    for key, value in models.items():
        clf = value.fit(X_train, y_train)
        y_pred = clf.predict(X_test).reshape(-1,)
        results_to_csv('{}-{}'.format(key, num_iter), y_pred)
    return y_pred

In [19]:
modeling = modeling(Train, Test, 'Survived', 1)

891 39 Index(['1', '2', '3', '0', '1.1', '2.1', '3.1', '4', '5', '8', '0.1', '1.2',
       '2.2', '3.2', '4.1', '5.1', '6', '9', 'C', 'Q', 'S', '[0, 20)',
       '[20, 40)', '[40, 60)', '[60+)', 'A', 'B', 'C.1', 'D', 'E', 'F', 'G',
       'T', '0.2', '1.3', '[0, 7.9)', '[31, 38.9)', '[38.9+)', '[7.9, 14.4)'],
      dtype='object')

c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
<ipython-input-18-0495353b3770>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = value.fit(X_train, y_train)
<ipython-input-18-0495353b3770>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = value.fit(X_train, y_train)
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\discriminant_analysis.py:808: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

In [54]:
from xgboost import XGBClassifier

In [55]:
model = XGBClassifier(booster = 'gbtree', objective = 'binary:logistic', random_state = 2)

In [56]:
X_train = Train.drop('Survived', axis = 1)
y_train = Train[['Survived']]
X_test = Test

In [57]:
model.fit(X_train, y_train)

c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
c:\users\zebas\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

[13:45:09] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=2,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [58]:
y_pred = model.predict(X_test)

In [59]:
y_pred

array([0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0.,
       0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 1., 0., 0.,
       0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0.,
       0., 1., 1., 0., 0., 1., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0.,
       0., 1., 1., 1., 1., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0.,
       1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       1., 0., 0., 1., 1., 0., 1., 1., 1., 1., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 1.,
       0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1.,
       0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0.,
       1., 1., 0., 1., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
       1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1.,
       0., 1., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 0., 0., 0.,
       1., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0., 1., 1.,
       0., 0., 1., 0., 1., 1., 0., 1., 0., 0., 1., 1., 0., 0., 1., 0., 0.,
       1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       1., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0.,
       1., 1., 1., 1., 1., 0., 1., 0., 0., 1.])

In [65]:
results_to_csv('XGBClassifier2', y_pred)

     PassengerId  Survived
0              1       0.0
1              2       0.0
2              3       0.0
3              4       0.0
4              5       0.0
..           ...       ...
413          414       0.0
414          415       1.0
415          416       0.0
416          417       0.0
417          418       1.0

[418 rows x 2 columns]

In [66]:
import catboost as cb
from catboost import CatBoostClassifier

In [67]:
model = CatBoostClassifier(verbose = 0, n_estimators = 100)

In [68]:
model

In [69]:
model.fit(X_train, y_train)

In [70]:
y_pred

array([0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0.,
       0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 1., 0., 0.,
       0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0.,
       0., 1., 1., 0., 0., 1., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0.,
       0., 1., 1., 1., 1., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0.,
       1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       1., 0., 0., 1., 1., 0., 1., 1., 1., 1., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 1.,
       0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1.,
       0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0.,
       1., 1., 0., 1., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
       1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1.,
       0., 1., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 0., 0., 0.,
       1., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0., 1., 1.,
       0., 0., 1., 0., 1., 1., 0., 1., 0., 0., 1., 1., 0., 0., 1., 0., 0.,
       1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       1., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0.,
       1., 1., 1., 1., 1., 0., 1., 0., 0., 1.])

In [71]:
results_to_csv('CatBoostClassifier', y_pred)

     PassengerId  Survived
0              1       0.0
1              2       0.0
2              3       0.0
3              4       0.0
4              5       0.0
..           ...       ...
413          414       0.0
414          415       1.0
415          416       0.0
416          417       0.0
417          418       1.0

[418 rows x 2 columns]